body {
  margin: 0 auto;
}

/* Fullscreen hero */
.home-value {
  position: relative;
  width: 100%;
  height: 100dvh; /* mobile fix */
  overflow: hidden;
}

.home-image img {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  object-fit: cover;
  filter: brightness(65%);
}

/* Center overlay */
.home-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: floralwhite;
  width: 90%;
  max-width: 900px;
}

/* address */
.address {
   font-family: var(--font-heading);
   font-size: var(--text-size10);
   margin-bottom: 2rem;
   letter-spacing: 1.5px;
}

/* SEARCH BOX LAYOUT */
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.search-box .home-value-flex {
  position: relative;
  width: 50%;
}

/* INPUT */
#addressInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 2em;
  font-family: var(--font-Mukta);
}

/* SUGGESTIONS */
#suggestions {
  list-style: none;
  padding: 0;
  margin: 4px 0 0;
  background: white;
  border: 1px solid #ddd;
  position: absolute;
  width: 100%;
  z-index: 10;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
}

#suggestions li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: #000000;
  text-align: left;
  font-size: 1.6rem;
  font-family: var(--font-Mukta);
}

#suggestions li:hover {
  background: #e7f0ff;
}

.search-box button {
    padding: 14px 28px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #390943;
    color: white;
    font-weight: 600;
    white-space: nowrap;
    height: 55px; 
    font-family: var(--font-Mukta);
    transition: transform 0.3s ease-in;
  }
  
  .search-box button:hover {
    transform: scale(1.05 , 1.05);
  }
  
