@media (max-width: 1500px) {
  .header .logo {
    margin-left: 0 !important;
  }
}

@media (max-width: 1400px) {
  .header {
    padding: 0;
  }

  .section-hero {
    grid-template-columns: none;
  }

  .hero-content {
    grid-row: 2 / 3;
    grid-column: unset;
    justify-items: center;
  }

  .hero-icons-container {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
  }

  .hero-text-box {
    text-align: center;
    padding: 0 1rem;
  }

  .social-icons-columns .social-icons {
    padding: 0;
  }

  .social-icons a {
    height: 5rem;
    width: 5rem;
    font-size: 1.7rem;
  }

  .hero-img-box {
    margin-top: 0;
    margin-left: 0;
  }

  .buttons {
    flex-direction: column;
    align-items: unset;
  }

  .award-item {
    display: flex;
    justify-content: center;
  }

  .awards-section-wrapper {
    margin-top: 2rem;
    margin-bottom: 1.4rem;
  }
  .awards-section {
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1064px) {
  .every-move-content {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 5rem 0 5rem;
    gap: 1rem;
  }

  .every-move-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
  }

  .primary-btn,
  .secondary-btn {
    padding: 18px 48px;
  }

  .secondary-btn {
    margin-left: 0;
    font-size: 15px;
  }

  .google-reviews-button {
    margin-right: 1rem;
  }

  .image-section h1 {
    font-size: var(--text-size6);
    left: 3%;
  }
}

@media (max-width: 1024px) {
  .evaluation-content {
    margin-left: 2rem;
    padding: 1.5rem;
  }
}

@media (max-width: 750px) {
}

@media (max-width: 768px) {
  .section-hero {
    padding: 0;
  }

  .hero-content {
    justify-items: unset;
  }

  .hero-text-box {
    margin: 0 2rem;
  }

  .hero-text-box h2 {
    font-size: 4.8rem;
    margin-top: 1.5rem;
  }

  .hero-text-box h4 {
    font-size: 3.8rem;
    margin-top: -1rem;
  }

  .social-icons-columns .social-icons {
    display: none;
  }

  .btn {
    padding: 12px 48px;
  }

  .hero-buttons {
    padding-right: 3rem;
  }
  /*//////////////////every-move/////////////////////////*/
  .every-move-content {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .grid-image-1 {
    grid-column: 1 / 2;
    grid-row: 2;
    left: 0;
  }

  .grid-image-2 {
    grid-column: 2 / 3;
    grid-row: 2;
    left: 0;
  }

  .every-move-text {
    grid-column: 1 / -1;
  }

  .image-card {
    padding: 0;
  }
  .primary-btn,
  .secondary-btn {
    padding: 18px 48px;
  }

  /*///////////////////communities/////////////////////*/
  .communities-grid {
    grid-template-columns: 1fr;
  }

  .communities-content-right {
    padding: 0;
  }

  /*/////////////// Listing section ////////////////////////*/
  .listings-grid {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .sell-grid {
    gap: 1.2rem;
  }
  .sell-left-image-container img {
    margin: auto;
  }

  .evaluation-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  .blog-grid {
    grid-template-columns: 1fr;
  }

  .your-move-grid {
    padding: 1rem;
  }

  .listings-image-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
    bottom: 0;
    left: 0;
  }

  .google-reviews-button {
    margin-left: 1rem;
  }

  .your-move-grid {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }

  .your-move-image {
    order: -1;
  }

  .your-move-form .form-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 650px) {
  .hero-content {
    padding: 0 5rem;
  }

  .communities-grid,
  .listings-section,
  .every-move-content,
  .sell-left-content,
  .sell-right-content,
  .testimonial-container,
  .blog-container,
  .your-move-grid {
    padding: 0 2rem;
    margin: 0 1rem 0 1rem;
  }

  .sell-left-content,
  .sell-right-content {
    align-items: stretch;
  }

  .sell-left-content,
  .sell-right-content,
  .blog-container,
  .testimonial-container {
    margin: 0;
  }

  .listings-section {
    padding-top: 2rem;
  }

  .every-move-content {
    grid-template-columns: 1fr;
    /* margin: 0 1rem 0 1rem; */
    gap: 2.5rem;
  }

  .every-move-text {
    grid-column: 1 / -1;
  }

  .every-move-text h2 {
    margin-bottom: 1.6rem;
  }

  .every-move-text p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .every-move-text .buttons {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .secondary-btn {
    margin-left: 0;
  }

  .image-card {
    position: static;
    padding: 0rem;
    /* margin: 0 auto; */
  }

  .grid-image-1,
  .grid-image-2 {
    grid-column: 1;
    grid-row: auto;
  }

  .every-move-buttons {
    align-items: unset;
    text-align: center;
  }

  /*////////////////////sell section /////////////////////*/
  .sell-grid {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .sell-left-image-container {
    order: 1;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .right-margin {
    margin-top: 0;
  }

  .testimonials-header {
    margin-bottom: 0;
    padding: 1rem 0;
  }

  .google-reviews-button {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .listings-image-container {
    padding: 0;
  }

  .benefit-item {
    padding: 1rem 0 0 0;
  }
}

@media (max-width: 750px) {
  .section-hero {
    justify-content: center;
    justify-items: center;
  }

  .hero-content {
    grid-row: 1 / 2;
    padding: 0 4.8rem;
  }

  .hero-content h2 {
    font-size: 48px;
  }

  .hero-content h4 {
    font-size: 38px;
  }

  .hero-img-box img {
    width: 550px;
  }
  .hero-buttons {
    padding-right: 0;
  }

  .buttons .btn-hero {
    font-size: 14px;
  }

  .buttons .btn-hero-primary {
    display: none;
  }

  /* .sell-left-image-container img {
    margin: 0;
  } */
}

@media (max-width: 450px) {
  .hero-img-box img {
    width: 350px;
    margin-top: 0;
  }

  .hero-text-box {
    padding: 0;
  }

  .award-item {
    gap: 1rem;
  }

  .sell-section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 320px) {
  .hero-content {
    width: 90%;
  }

  .hero-text-box {
    padding: 0 2rem;
  }

  .hero-img-box {
    margin-left: 2rem;
  }
  /* .sell-left-content {
    padding: 0;
  } */
  .sell-left-image-container img {
    margin: 0;
  }
  .sell-left-image-container {
    padding: 0;
  }

  .buyers-button {
    margin-left: 0;
    margin-right: 0;
  }

  .google-reviews-button {
    font-size: 15px;
    padding: 2rem 3rem;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .stats-container {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    max-width: 700px;
  }

  .stats-container .stat-item:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .stats-container .stat-divider:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    display: block;
  }

  .stats-container .stat-item:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1;
  }

  .stats-container .stat-divider:nth-of-type(2) {
    display: none;
  }

  .stats-container .stat-item:nth-of-type(3) {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 4rem;
  }
}

@media (max-width: 767px) {
  .stats-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .stat-item {
    align-items: center;
    text-align: center;
  }

  .stat-divider {
    display: none;
  }
}
