/**************************/
/* Hero Section */
/**************************/

.section-hero {
  background-color: #390943;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.hero-text-box {
  text-align: right;
  margin: 0 6rem;
  max-width: 130rem;
}

.hero-content {
  display: grid;
  grid-column: 2 / 8;
  order: 1;
  width: 100%;
  gap: 2rem;
  max-width: 130rem;
}

.hero-heading {
  font-size: 12rem;
  color: #fff;
  margin-bottom: 1.6rem;
  line-height: 1.15;
  font-family: "DM Serif Text", serif;
  font-weight: 100;
  padding-top: -10rem;
}

.hero-subheading {
  font-size: 100px;
  font-style: italic;
  line-height: 1.35;
  margin-top: -50px;
  margin-bottom: 20px;
  margin-right: 1.4rem;
  color: #fff;
  font-family: "Mukta", sans-serif;
  font-weight: 100;
}

.hero-paragraph {
  font-weight: 300;
  font-size: 17px !important;
  color: #fff;
  line-height: 26px !important;
  font-family: "Mukta", sans-serif;
}

/**************************/
/* Hero Button Section */
/**************************/
.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  margin-top: 4rem;
}

.btn {
  padding: 18px 48px;
  border-radius: 9px;
}

.buttons .btn-hero {
  background-color: #390943;
  color: #fff;
  font-size: 16px;
  font-family: "Mukta", serif;
  font-weight: 500;
  border: 1px solid #fff;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.buttons .btn-hero-secondary {
  background-color: #fff;
  color: #390943;
  font-size: 16px;
  font-family: "Mukta", serif;
  font-weight: 500;
  border: 1px solid #390943;
  text-decoration: none;
}

/**************************/
/* Social Columns */
/**************************/

.hero-icons-container {
  display: flex;
  align-items: center;
  padding: 0 6rem;
}
.social-icons-columns .social-icons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 0 4.8rem;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.hero-img-box {
  margin-top: 13rem;
  margin-left: -5rem;
}

.hero-img-box img {
  max-height: 700px;
  max-width: 700px;
  margin-left: 3rem;
}
.awards-section {
  display: flex;
  justify-content: flex-end;
}

.award-item {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.awards-section-wrapper {
  margin-top: 5rem;
}

/**************************/
/* every-move-section */
/**************************/
.every-move-section {
  width: 100%;
  padding: 15rem 0 0 0;
  overflow: hidden;
}

/* .container {
  padding: 0;
} */

.every-move-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.every-move-text h2 {
  font-size: var(--text-size10);
  line-height: 1.3;
  margin-bottom: 2.4rem;
  font-weight: 300;
  color: var(--color-bg);
  font-family: var(--font-heading);
}

.every-move-text p {
  font-size: 17px;
  line-height: 26px;
  color: var(--secondary-text-color);
  margin-bottom: 1.6rem;
  font-family: var(--font-Mukta);
  color: #5c5c5c;
}

/**************************/
/* buttons */
/**************************/
.btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.primary-btn {
  background-color: var(--color-btn-primary);
  color: #fff;
  font-family: var(--font-Mukta);
  font-size: 16px;
  letter-spacing: 2.5px;
  transition: transform 0.3s ease-in-out;
}

.primary-btn:hover {
  transform: scale(1.05, 1.05);
}

.secondary-btn {
  background-color: #fff;
  color: var(--color-btn-primary);
  border: 1px solid #390943;
  margin-left: 1rem;
  font-family: var(--font-Mukta);
  font-size: 16px;
}

.secondary-btn:hover {
  transform: scale(1.05);
}

/**************************/
/* image-card-section */
/**************************/

.image-card {
  overflow: hidden;
  padding: 1.5rem;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 8%;
  transition: transform 0.3s ease;
}

.image-card:hover {
  cursor: pointer;
}

.image-card img,
.image-card video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 650px;
  max-height: 650px;
  border-radius: 20px;
}

.grid-image-1 {
  grid-column: 2 / 3;
}

.grid-image-2 {
  grid-column: 3 / 4;
}

/**********************************/
/* Community Section */
/*********************************/
.communities {
  background-color: var(--color-bg);
  color: #fff;
  margin-top: 8rem;
  padding: 8rem 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.communities-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /* padding: 2rem; */
  align-items: center;
}

.communities-left {
  padding: 1rem;
}

.communities-content-left h3 {
  font-size: var(--text-size14);
  line-height: 1.2;
  font-family: "DM Serif Text", serif;
  font-weight: 300;
}

.communities-content-right {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 17px;
  line-height: 26px;
  font-family: var(--font-Mukta);
  font-weight: 200;
}

/**************************/
/* sell-section */
/**************************/
.sell-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
}

.sell-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: flex-start;
  margin-top: 5rem;
}

.upper-margin {
  margin-top: 5rem;
}

.sell-left-content {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  align-items: flex-start;
}

.sell-padding-left {
  padding: 2rem 0;
}

.sell-left-content h2 {
  font-size: var(--text-size12);
  margin-bottom: 1.2rem;
  color: var(--color-btn-primary);
  margin-bottom: 1rem;
  font-family: "DM Serif Text", serif;
  font-weight: 600;
}

.sell-left-content p {
  font-size: 1.7rem;
  color: #5c5c5c;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Mukta", sans-serif;
}

.sell-button {
  display: inline-flex;
  padding: 18px 48px;
  background-color: var(--color-btn-primary);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  font-family: "Mukta", sans-serif;
  color: #fffdf9;
  font-weight: 300;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.sell-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sell-left-image-container {
  padding: 1rem 0;
  text-align: center;
  margin-top: 2rem;
}

.sell-left-image-container img {
  max-width: 100%;
  border-radius: 2rem;
  display: flex;
  margin: auto;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  object-fit: cover;
}

.sell-right-content {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sell-padding {
  padding: 1rem 0;
}

.up-down-padding {
  padding: 1.95rem 0;
}

.benefit-item {
  display: flex;
  /* align-items: flex-start; */
  gap: 2rem;
  padding: 1rem 0;
}

.sell-benefit-padding {
  padding: 1rem 0;
}

.sell-benefit-padding-top-bottom {
  padding: 1rem 0;
}

.benefit-icon img {
  font-size: 2.5rem;
  flex-shrink: 0;
}

.benefit-text h1 {
  font-size: var(--text-size6);
  color: #390943;
  margin-bottom: 1rem;
  font-family: var(--font-heading);
  font-weight: 400;
}

.benefit-text p {
  font-size: 17px;
  color: #5c5c5c;
  margin-top: 0.5rem;
  line-height: 20px;
  font-family: var(--font-Mukta);
}

.benefit-icon {
  flex-shrink: 0;
  width: 67px;
  height: 63px;
}

.benefit-icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

.benefit-icon svg path {
  fill: var(--color-btn-primary);
}

.sell-left-content .home {
  font-size: var(--text-size12);
  line-height: 1.2;
  font-weight: 600;
}

.sell-left-content .sell-description {
  line-height: 1.5;
}

.horizontal-border::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  border-bottom: 1px solid #390943;
  padding: 0 1.2rem;
  margin: auto;
}
/**************************/
/* home-evaluation-section-section */
/**************************/
.home-evaluation-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: left;
  margin-top: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.home-evaluation-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.home-evaluation-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.evaluation-content {
  position: relative;
  z-index: 2;
  margin-right: auto;
  margin-left: 5rem;
  margin-top: auto;
  padding-top: 10rem;
  padding-left: 10rem;
  padding-bottom: 10rem;
  left: 1%;
}

.evaluation-content h6 {
  font-size: var(--text-size6);
  font-family: "Mukta", sans-serif;
  line-height: 1.5;
  margin-top: 2rem;
  font-weight: 300;
}

.evaluation-content h3 {
  font-size: var(--text-size13);
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "DM Serif Text", serif;
  line-height: 1.2;
  font-weight: 400;
}

.evaluation-content p {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  color: #e5e7eb;
  line-height: 2.5rem;
  font-family: "Mukta", sans-serif;
  font-weight: 300;
}

.evaluation-button {
  background-color: #390943;
  color: #ffffff;
  padding: 2rem 4.8rem;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-block;
  font-family: "Mukta", sans-serif;
  font-size: 1.8rem;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.sell-left-content .sell-text {
  margin-top: 1rem;
}

.right-margin {
  margin-top: 5rem;
  padding: 1rem 0;
}

/**************************/
/* blog-section */
/**************************/

.blog-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
}

.blog-header h2 {
  font-size: var(--text-size10);
  color: var(--color-bg);
  text-align: center;
  margin-bottom: 4rem;
  line-height: 1.2;
  font-family: var(--text-size8);
  font-weight: 600;
  text-align: center;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 0 2rem 0;
}

.blog-card {
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.blog-card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.blog-card-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #390943;
}

.blog-card-content h3 {
  font-size: var(--text-size5);
  font-weight: 400;
  color: var(--bg-color);
  margin-bottom: 0.5rem;
  font-family: var(--font-Mukta);
}

.blog-card-meta {
  font-size: 1.3rem;
  color: #390943;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 2rem;
  font-family: var(--font-Mukta);
  margin: 1rem 0;
}

.blog-card-text {
  font-size: 1.7rem;
  color: #5c5c5c;
  margin-bottom: 1.5rem;
  flex-grow: 1;
  font-family: var(--font-Mukta);
  margin: 1rem 0;
}

.read-post-button {
  display: inline-block;
  background-color: var(--color-btn-primary);
  color: #ffffff;
  padding: 1rem 2.3rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  align-self: flex-start;
  font-family: var(--font-Mukta);
}

.read-post-button:hover {
  background-color: var(--color-bg);
}

/**************************/
/* your-move-section */
/**************************/
.your-move-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
}

.your-move-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
}

.message-grid {
  grid-column: 1 / 3;
}
.your-move-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.your-move-content h2 {
  font-size: var(--text-size9);
  font-weight: 400;
  color: var(--color-bg);
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-family: var(--font-heading);
}

.your-move-content p {
  font-size: 17px;
  color: #390943;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-family: var(--font-Mukta);
}

.your-move-form .form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

/**************************/
/* form-group-section */
/**************************/

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.5rem;
  color: #390943;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-family: var(--font-Mukta);
  margin-top: 1rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 100%;
  padding-top: 1.2rem;
  border: none;
  border-bottom: 1px solid #390943;
  border-radius: 0;
  font-size: 1.7rem;
  color: #333;
  transition: border-bottom-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #390943;
}

.form-group textarea {
  resize: vertical;
  min-height: 10rem;
  grid-column: span 2;
}

.submit-button-container {
  text-align: center;
}

.submit-button {
  background-color: var(--color-bg);
  color: #ffffff;
  padding: 18px 48px;
  border: none;
  border-radius: 9px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-Mukta);
  transition: transform 0.3s ease-in-out;
}

.sell-btn-flex {
  display: flex;
  flex-direction: column;
}

.blog-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.social-icons a:hover,
.buttons .btn-hero:hover,
.sell-button:hover,
.evaluation-button:hover,
.submit-button:hover {
  transform: scale(1.05, 1.05);
}

/**************************/
/* media-queries */
/**************************/

@media (max-width: 93em) {
  .header .logo {
    margin-left: 0 !important;
  }
}

@media (max-width: 90em) {
  .evaluation-content {
    margin-left: 0;
  }
}

/********************************
Mac-book style
*********************************/
@media (max-width: 80em) {
  .evaluation-content {
    left: -4%;
  }
}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 88em) {
  .hero-content {
    max-width: 120rem;
  }

  .hero-heading {
    font-size: 10rem;
  }

  .hero-subheading {
    font-size: 70px;
    margin-top: -40px;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 78em) {
  /* html {
    font-size: 56.25%;
  } */

  .section-hero {
    grid-template-columns: none;
  }

  .hero-content {
    grid-row: 2 / 3;
    grid-column: unset;
    justify-items: stretch;
  }

  .hero-text-box {
    text-align: center;
  }

  .social-icons-columns .social-icons {
    padding: 0;
    /* display: none; */
  }

  .social-icons a {
    height: 5rem;
    width: 5rem;
    font-size: 1.7rem;
  }

  .hero-img-box {
    margin-top: 0;
    margin-left: 0;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .award-item {
    display: flex;
    justify-content: center;
  }

  .awards-section-wrapper {
    margin-top: 2rem;
    margin-bottom: 1.4rem;
  }
  .awards-section {
    justify-content: center;
    margin-bottom: 2rem;
  }
}

/********************
Large Tablet Breakpoint (e.g., 1024px):
*********************/
@media (max-width: 64em) {
  .every-move-content,
  .communities-grid,
  .sell-grid,
  .blog-container,
  .your-move-grid {
    padding: 0 5rem !important;
  }

  .hero-content {
    margin-top: 3rem;
  }

  .hero-heading {
    font-size: 125px;
  }

  .image-card {
    left: 0;
  }

  .listings-image-container img {
    width: 90%;
  }

  .evaluation-content {
    margin-left: -7rem;
    left: 0;
  }
}

/********************
 Tablet Breakpoint (e.g., 768px):
*********************/
@media (max-width: 54em) {
  .social-icons-columns .social-icons {
    display: none;
  }

  .sell-button {
    width: 100%;
  }
  .hero-icons-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0;
    justify-items: center;
  }

  .hero-img-box img {
    margin-top: -2rem;
    margin-left: 0;
  }

  .hero-heading {
    font-size: 48px;
  }

  .hero-subheading {
    font-size: 38px;
    margin-top: -20px;
  }

  .hero-text-box {
    margin: 0 4rem;
  }

  .every-move-content {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .grid-image-1 {
    grid-column: 1 / 2;
    grid-row: 2;
    left: 0;
  }

  .grid-image-2 {
    grid-column: 2 / 3;
    grid-row: 2;
    left: 0;
  }

  .every-move-text {
    grid-column: 1 / -1;
  }

  .evaluation-content {
    left: -1%;
  }

  .sell-grid {
    gap: 2.5rem;
  }

  .communities-grid {
    align-items: start;
  }

  .communities-content-left h3 {
    font-size: var(--text-size9);
  }

  .communities-content-right {
    padding: 0;
  }

  .sell-left-content h2,
  .sell-left-content .home {
    font-size: var(--text-size9);
    line-height: 1.15;
  }

  .up-down-padding {
    padding: 0;
  }

  .benefit-item {
    gap: 1rem;
  }
  .benefit-text h1 {
    font-size: var(--text-size5);
  }

  .right-margin,
  .sell-padding {
    margin-top: 0;
  }

  .sell-padding-left {
    padding: 1rem 0;
  }
  .sell-padding,
  .right-margin {
    padding: 0;
  }

  .blog-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 48em) {
  .every-move-content,
  .communities-grid,
  .sell-grid,
  .blog-container,
  .your-move-grid {
    padding: 0 2.5rem !important;
  }
  .your-move-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
  }

  .your-move-grid {
    gap: 2rem;
  }

  .your-move-content h2 {
    font-size: var(--text-size7);
  }

  .your-move-content p {
    font-size: 15px;
  }

  .submit-button {
    padding: 15px 30px;
    font-size: 14px;
  }
}

@media (max-width: 44em) {
  .hero-content {
    grid-row: 1 /2;
  }

  .hero-text-box {
    margin: 1rem 4rem;
  }

  .hero-img-box img {
    max-width: 100%;
    margin-top: 0;
  }

  .hero-secondary-btn-hide {
    display: none;
  }
  .grid-image-1,
  .grid-image-2 {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .communities-grid,
  .sell-grid {
    grid-template-columns: 1fr;
  }

  .blog-section {
    margin-top: 0;
  }

  .your-move-grid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .your-move-content h2 {
    font-size: var(--text-size8);
  }

  .your-move-content p {
    font-size: 16px;
  }

  .message-grid {
    grid-column: 1 / 2;
  }

  .your-move-form .form-grid {
    grid-template-columns: 1fr;
  }

  .form-group textarea {
    grid-column: span 1;
  }

  .blog-header h2 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 40em) {
  .your-move-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .your-move-grid {
    padding: 0.5rem;
  }
}

@media (max-width: 30em) {
  .every-move-content,
  .communities-grid,
  .sell-grid,
  .blog-container,
  .your-move-grid {
    padding: 0 1.5rem !important;
  }
}

@media (max-width: 25em) {
  .hero-text-box {
    margin: 1rem 2rem;
  }
}

@media (max-width: 24rem) {
  .buttons .btn-hero-secondary {
    font-size: 15px;
  }

  .award-item svg {
    width: 60px;
  }

  .sell-button {
    font-size: 1.5rem;
  }
  .evaluation-content {
    margin-left: 0;
    padding: 2rem 0;
  }

  .evaluation-button {
    font-size: 1.3rem;
  }
}

@media (max-width: 22em) {
  .hero-text-box {
    margin: 1rem 0;
  }

  .hero-paragraph {
    font-size: 15px !important;
  }

  .buttons {
    align-items: center;
  }
}
