/**************************/
/* Hero Section */
/**************************/
.section-hero {
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.hero-content {
  display: grid;
  grid-column: 3 / -1;
  order: 1;
  width: 100%;
  gap: 2rem;
  justify-content: space-around;
}

.hero-text-box {
  text-align: right;
  max-width: 130rem;
  margin-left: 7rem;
}

.hero-heading {
  font-size: 9.2rem;
  color: #fff;
  margin-bottom: 1.6rem;
  line-height: 1.15;
  font-family: var(--font-primary);
  font-weight: 100;
  text-align: center;
}

.hero-subheading {
  font-size: 85px;
  font-style: italic;
  line-height: 1.35;
  margin-top: -2rem;
  margin-bottom: 2rem;
  margin-right: 1.4rem;
  color: #fff;
  font-family: var(--font-Mukta);
  font-weight: 100;
}

.hero-paragraph {
  font-weight: 300;
  font-size: 17px !important;
  color: #fff;
  line-height: 30px !important;
  font-family: var(--font-Mukta);
}

/**************************/
/* Hero Button Section */
/**************************/

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  margin-top: 4rem;
}

.btn {
  padding: 18px 48px;
  border-radius: 9px;
}

.buttons .btn-hero {
  background-color: #390943;
  color: #fff;
  font-size: 16px;
  font-family: var(--font-Mukta);
  font-weight: 500;
  border: 1px solid #fff;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.buttons .btn-hero-secondary {
  background-color: #fff;
  color: #390943;
  font-size: 16px;
  font-family: var(--font-Mukta);
  font-weight: 500;
  border: 1px solid #390943;
  text-decoration: none;
}

/**************************/
/* Social Columns */
/**************************/
.hero-icons-container {
  display: flex;
  position: relative;
}

.social-icons-columns {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.hero-img-box {
  margin-top: 13rem;
  margin-left: 3rem;
}

/**************************/
/* every-move-section */
/**************************/
.every-move-section {
  width: 100%;
  padding: 12rem 0 0 0;
  overflow: hidden;
}

.every-move-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.every-move-text h2 {
  font-size: var(--text-size10);
  line-height: 1.3;
  margin-bottom: 2.4rem;
  font-weight: 300;
  color: var(--color-bg);
  font-family: var(--font-heading);
}

.every-move-text p {
  font-size: 17px;
  line-height: 26px;
  color: #5c5c5c;
  margin-bottom: 1.6rem;
  font-family: var(--font-Mukta);
}

.grid-video {
  grid-column: 2 / 3;
}

.grid-image {
  grid-column: 3 / 4;
}

.image-card,
.video-card {
  overflow: hidden;
  height: 55rem;
  transition: transform 0.3s ease;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 50%);
}

.image-card:hover {
  cursor: pointer;
}

.image-card img,
.video-card video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* max-width: 650px;
  max-height: 650px; */
}

.primary-btn {
  background-color: var(--color-btn-primary);
  color: #fff;
  font-family: var(--font-Mukta);
  font-size: 16px;
  letter-spacing: 2.5px;
  transition: transform 0.3s ease-in-out;
}
.btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
}

.play-button {
  display: none;
}

/**********************************/
/* Community Section */
/*********************************/
.communities {
  background-color: var(--color-bg);
  color: #fff;
  margin-top: 8rem;
  padding: 8rem 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.communities-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.communities-left {
  padding: 1rem;
}

.communities-content-left h3 {
  font-size: var(--text-size13);
  line-height: 1.2;
  font-family: "DM Serif Text", serif;
  font-weight: 300;
}

.communities-content-right {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 17px;
  line-height: 26px;
  font-family: var(--font-Mukta);
  font-weight: 200;
}

/**********************************/
/* Image Section */
/*********************************/

.image-section {
  overflow: hidden;
  margin-top: -1rem;
  position: relative;
}

.image-section img {
  width: 100%;
  height: 341px;
  display: block;
  object-fit: cover;
}

.image-section h1 {
  position: absolute;
  z-index: 3;
  font-size: var(--text-size8);
  padding: 0 2em;
  color: #fff;
  bottom: 5%;
  left: 8%;
  font-family: var(--font-Mukta);
  text-align: left;
  text-transform: capitalize;
  font-weight: 400;
}

/**********************************/
/* Listing Section */
/*********************************/

.listings-section {
  padding: 2rem 4rem;
  margin-top: 4rem;
  position: relative;
}

.listings-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: flex-start;
}

.listings-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listings-list li:first-child {
  border-top: 1px solid #b8bbbe;
}

.listings-list li {
  border-bottom: 1px solid #b8bbbe;
  padding: 2rem 0;
}

.listings-list li:last-child {
  border-bottom: 1px solid #b8bbbe;
}

.listings-list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--color-btn-primary);
  font-size: var(--text-size6);
  font-weight: 550;
  font-family: "Mukta", sans-serif !important;
  transition: all 0.3s ease-in-out;
}

.listings-list > li {
  transition: transform 0.3s ease-in-out;
}

.listings-list .arrow {
  font-size: var(--text-size6);
  color: var(--color-bg);
  transition: transform 0.3s ease-in-out;
  font-weight: 600;
}

.listings-image-container {
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30%;
  left: 55%;
}

.listings-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
}

.listings-list > li:hover {
  transform: scale(1.02, 1.02);
}

/**************************/
/* sell section and find home section*/
/**************************/
.sell-section {
  margin-top: 5rem;
}

.find-home-section {
  margin-top: 10rem;
}

.find-home-content {
  margin-top: 1rem;
}

.sell-grid,
.find-home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.sell-info h2,
.find-home-info h2 {
  font-size: var(--text-size12);
  margin-bottom: 1.2rem;
  color: var(--color-btn-primary);
  font-family: var(--font-primary);
  font-weight: 600;
}

.sell-info p,
.find-home-info p {
  font-size: 1.7rem;
  color: #5c5c5c;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: var(--font-Mukta);
}

.find-home-info p {
  line-height: 25px;
  margin: 3rem 0;
}

.sell-button {
  display: inline-flex;
  padding: 18px 48px;
  background-color: var(--color-btn-primary);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  font-family: "Mukta", sans-serif;
  color: #fffdf9;
  font-weight: 300;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.sell-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sell-home-image,
.buyers-trust-icon {
  margin-top: 2rem;
}

.sell-home-image img,
.find-home-image img {
  max-width: 100%;
  border-radius: 2rem;
  display: flex;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.property-flex,
.property-expert-flex,
.support-flex,
.find-home-flex,
.personal-guidance-flex,
.languages-flex {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.find-home-flex {
  gap: 3rem;
}

.property-text h1,
.expert-negotiation-text h1,
.support-text h1,
.buyers-text h1,
.personal-guidance-text h1,
.languages-options h1 {
  font-size: var(--text-size6);
  color: #390943;
  margin-bottom: 1rem;
  font-family: var(--font-heading);
  font-weight: 400;
}

.buyers-text h1 {
  line-height: 25px;
}

.property-heading {
  margin-top: 7px;
}

.property-text p,
.expert-negotiation-text p,
.support-text p,
.buyers-text p,
.personal-guidance-text p,
.languages-options p {
  font-size: 17px;
  color: #5c5c5c;
  margin-top: 0.5rem;
  line-height: 20px;
  font-family: var(--font-Mukta);
}

.property-expert-flex,
.support-flex {
  margin-top: 1.5rem;
}
.personal-guidance-flex,
.languages-flex {
  margin-top: 2.5rem;
}

/**************************/
/* home-evaluation-section */
/**************************/
.home-evaluation-section {
  margin-top: 5rem;
  position: relative;
  width: 100%;
  color: #fff;
  text-align: left;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.evaluation-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.evaluation-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}

.evaluation-content {
  position: relative;
  z-index: 1;
  max-width: 750px;
  padding: 8rem 5rem;
  margin-left: 4rem;
}

.evaluation-content h1 {
  font-size: var(--text-size6);
  font-family: var(--font-Mukta);
  line-height: 1.5;
  margin-bottom: 1rem;
  font-weight: 300;
  padding-top: 9rem;
}

.evaluation-content h2 {
  font-size: var(--text-size13);
  margin-bottom: 2rem;
  font-family: var(--font-heading);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: 400;
  line-height: 1.2;
}

.evaluation-content p {
  font-size: 17px;
  margin: 1rem 0;
  color: #e5e7eb;
  line-height: 2.5rem;
  font-family: var(--font-Mukta);
  font-weight: 300;
}

.evaluation-button {
  background-color: #390943;
  color: #ffffff;
  padding: 2rem 4.8rem;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-Mukta);
  font-size: 1.8rem;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  margin-bottom: 8rem;
}

/**************************/
/* horizontal-border */
/**************************/
.horizontal-border {
  margin-top: 8rem;
}

.horizontal-border::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  border-bottom: 1px solid #390943;
  padding: 0 1.2rem;
  margin-top: 2rem;
  margin: auto;
}

/*****************************/
/* testimonials */
/*****************************/
.testimonials-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
}

.testimonial-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.testimonials-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
  padding: 2rem 0;
}

.testimonials-header h2 {
  font-size: var(--text-size12);
  font-weight: 600;
  color: var(--color-bg);
  margin-bottom: 0;
  font-family: var(--font-heading);
}

.google-reviews-button {
  background-color: var(--color-bg);
  color: #ffffff;
  padding: 2.5rem 5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  justify-content: center;
  font-size: 2rem;
  font-family: var(--font-Mukta);
  letter-spacing: 2px;
  transition: transform 0.3s ease-in-out;
}

.google-reviews-button:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.15);
}

.star-icon {
  font-size: 1.5rem;
  color: #ffb400;
}

.testimonials-carousel-wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
}

.testimonials-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - 2 * 2rem) / 3);
  gap: 2rem;
  align-items: stretch;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.testimonials-grid::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  padding: 2rem 0;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.testimonial-text {
  font-size: var(--text-size6);
  color: var(--color-btn-primary);
  margin-bottom: 1rem;
  flex-grow: 1;
  font-family: var(--font-Mukta);
  line-height: 1.45;
}

.testimonial-author {
  font-size: var(--text-size4);
  color: var(--color-btn-primary);
  text-transform: uppercase;
  font-family: var(--font-Mukta);
  font-weight: 700;
}

/**************************/
/* Your Move Starts Here Section  */
/**************************/

.your-move-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
}

.your-move-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
}

.message-grid {
  grid-column: 1 / 3;
}

.your-move-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.your-move-content h2 {
  font-size: var(--text-size9);
  font-weight: 400;
  color: var(--color-bg);
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-family: var(--font-heading);
}

.your-move-content p {
  font-size: 17px;
  color: #390943;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-family: var(--font-Mukta);
}

.your-move-form .form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

/**************************/
/* form-group-section */
/**************************/

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.5rem;
  color: #390943;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-family: var(--font-Mukta);
  margin-top: 1rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 100%;
  padding-top: 1.2rem;
  border: none;
  border-bottom: 1px solid #390943;
  border-radius: 0;
  font-size: 1.7rem;
  color: #333;
  transition: border-bottom-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #390943;
}

.form-group textarea {
  resize: vertical;
  min-height: 10rem;
  grid-column: span 2;
}

.submit-button-container {
  text-align: center;
}

.submit-button {
  background-color: var(--color-bg);
  color: #ffffff;
  padding: 18px 48px;
  border: none;
  border-radius: 9px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-Mukta);
  transition: transform 0.3s ease-in-out;
}

/************** hover effects ********************/
.submit-button:hover,
.primary-btn:hover,
.secondary-btn:hover,
.buttons .btn-hero:hover,
.sell-button:hover,
.evaluation-button:hover,
.social-icons a:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.social-icons a:hover {
  background: #fff !important;
  color: #390943 !important;
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 89em) {
  .hero-heading {
    font-size: 8.2rem;
  }
  .hero-subheading {
    font-size: 72px;
  }
}

@media (max-width: 79em) {
  html {
    font-size: 56.25%;
  }

  .section-hero {
    grid-template-columns: none;
  }

  .hero-content {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    justify-content: center;
  }

  .hero-heading {
    font-size: 6.5rem;
  }

  .hero-subheading {
    font-size: 55px;
  }

  .hero-text-box {
    text-align: center;
  }

  .hero-buttons {
    margin-bottom: 3rem;
  }

  .social-icons-columns .social-icons {
    padding: 0;
    /* display: none; */
  }

  .social-icons a {
    height: 5rem;
    width: 5rem;
    font-size: 1.7rem;
  }

  .hero-img-box {
    margin-top: 0;
    margin-left: 0;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .image-section h1 {
    left: 0px !important;
  }
}

@media (max-width: 60em) {
  .hero-icons-container {
    padding: 0 2rem;
  }

  .every-move-content {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .every-move-text {
    grid-column: 1 / -1;
  }

  .grid-video {
    grid-column: 1 / 2;
  }

  .grid-image {
    grid-column: 2 / 3;
  }

  .communities-content-left h3 {
    font-size: var(--text-size11);
  }
  .testimonials-grid {
    grid-auto-columns: calc((100% - 2rem) / 2);
  }

  .listings-section {
    padding: 2rem 0;
  }

  .listings-grid {
    align-items: center;
  }

  .listings-image-container {
    position: relative;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 50em) {
  .hero-text-box {
    margin-left: 0;
  }
  .hero-content {
    width: 100%;
  }
  .hero-heading {
    font-size: 50px;
    margin-top: 5rem;
  }

  .hero-subheading {
    font-size: 40px;
    margin-top: -1rem;
  }
  .social-icons-columns .social-icons {
    display: none;
  }
  .buttons {
    width: 100%;
  }

  .every-move-section {
    padding: 10rem 0 0 0;
  }

  .communities-content-right {
    padding: 0;
  }

  .communities-content-left h3,
  .evaluation-content h3 {
    font-size: var(--text-size9);
  }

  .communities-grid,
  .your-move-grid {
    grid-template-columns: 1fr !important;
  }

  .sell-button {
    font-size: 1.3rem;
  }
  .find-home-grid {
    gap: 5rem;
  }

  .find-home-section h2 {
    font-size: var(--text-size10);
  }

  .testimonials-header {
    flex-direction: column !important;
    align-items: stretch !important;
  }
}

@media (max-width: 45em) {
  .section-hero {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  .hero-text-box {
    padding-top: 30px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .buttons .hero-secondary-btn-hide {
    display: none;
  }

  .image-section h1 {
    font-family: var(--text-size6);
    bottom: 8% !important;
  }

  .sell-grid,
  .find-home-grid {
    grid-template-columns: 1fr;
  }

  .sell-info {
    display: flex;
    flex-direction: column;
  }

  .sell-button {
    display: block;
  }
  .testimonials-grid {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 40em) {
  .hero-subheading {
    font-size: 38px;
  }

  .hero-img-box img {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }
  .btn {
    padding: 15px 35px;
  }

  .every-move-section {
    padding: 6rem 0 0 0;
  }

  .grid-video {
    grid-column: 1 / -1;
  }

  .grid-image {
    grid-column: 1 / -1;
  }

  .image-section h1 {
    font-size: var(--text-size7);
  }

  .google-reviews-button {
    padding: 2rem 3rem;
    font-size: 1.5rem;
  }

  .listings-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 38.25em) {
  .hero-heading {
    font-size: 4.5rem;
  }

  .hero-subheading {
    font-size: 3.2rem;
  }
}

@media (max-width: 35em) {
  .listings-grid {
    grid-template-columns: 1fr;
  }

  .testimonials-grid {
    grid-auto-columns: 100%;
  }
  .testimonials-header h2 {
    font-size: var(--text-size10);
  }
  .google-reviews-button {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 33em) {
  .image-section h1 {
    font-size: var(--text-size6) !important;
  }
}

@media (max-width: 23em) {
  .hero-paragraph {
    font-size: 15px;
  }
  .evaluation-content {
    padding: 0 4rem;
  }
}
