.header {
  min-height: 70vh;
  background-image: url("../img/jpg/house-for-sale-in-ontario.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-inner-content {
  position: relative;
  z-index: 2;
}

.header .testimonial-intro {
  position: absolute;
  left: 8%;
  bottom: 10%;
  font-family: var(--font-Mukta);
  z-index: 1;
}

.testimonial-intro h3 {
  font-size: var(--text-size7);
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

.testimonial-intro h2 {
  font-size: var(--text-size15);
  color: #ffffff;
  font-weight: 400;
}

.header-inner-content {
  padding: 0;
}

/******************************** Three Column Section ***************************/

.three-column-section {
  margin-top: 8rem;
}

.three-column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: flex-start;
  justify-items: center;
}

.card-video-wrapper video {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/****************************** Testimonial Ratings Section **************************/
.testimonial-page-section {
  margin-top: 10rem;
  text-align: center;
}

.testimonial-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: stretch;
  justify-items: center;
  margin-bottom: 6rem !important;
}

.testimonial-page-card {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #390943;
  padding: 2.5rem;
  text-align: left;
  width: 100%;
  max-width: min(100%, 600px);
}

.stars {
  color: #ffb400;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.testimonial-page-heading {
  font-size: var(--text-size6);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #390943;
  font-family: var(--font-heading);
}

.testimonial-page-text {
  font-size: 17px !important;
  line-height: 1.6;
  color: #5c5c5c;
  margin-bottom: 1.5rem;
  font-family: var(--font-Mukta);
}

.testimonial-page-author {
  font-weight: 550;
  color: #390943;
  font-size: 17px;
  font-family: var(--font-Mukta);
}

/****************************** Button **************************/

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.testimonial-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px 40px;
  background-color: #390943;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #390943;
  font-family: var(--font-Mukta);
  font-size: 17px;
}

.testimonial-button.outline {
  background-color: transparent;
  color: #390943;
  border: 1px solid #390943;
}

.testimonial-button:hover {
  transform: scale(1.05, 1.05);
}

.footer {
  margin-top: 5rem;
}

/****************************** Media Queries **************************/
@media (max-width: 63em) {
  .three-column-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media (max-width: 47em) {
  .three-column-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0 1.5rem;
  }
  .testimonial-page-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 1.5rem;
  }
  .button-container {
    flex-direction: column;
  }
}

@media (max-width: 35em) {
  .testimonial-page-container {
    padding: 0 1rem;
  }
  .testimonial-page-section {
    margin-top: 6rem;
  }
}

@media (max-width: 30em) {
  .header .testimonial-intro {
    bottom: 7%;
    left: 5%;
  }

  .testimonial-button {
    font-size: 10px;
    line-height: 1.15;
    width: 100%;
  }
}
